@media screen and (min-width: 1px) and (max-width: 767px) {
  
         
         /* General */

        body, html {
        font-family: 'Roboto', sans-serif;
        color: #000000;
        font-size: 15px;
        background-color: #ffffff;
        color: #000000;
        margin: 0px;
        padding: 0px;
        }

        * {
            box-sizing: border-box;
            padding: 0px;
            margin: 0px;
            list-style-type: none;
            scroll-behavior: smooth;
        }

        *:hover {
            transition: 0.4s ease-in-out;
        }

        a {
            color: #000000;
        }

        h2 {
            margin-block-start: 0px;
            margin-block-end: 0px;
            margin-inline-start: 0px;
            margin-inline-end: 0px;
        }

        :active, :focus {
            border: none;
            outline: none;
            box-shadow: none;
            }

         body a {
                text-decoration: none;
        }


        /* INDEX */

         /* Header */
     
        header {
            text-align: center;
            background-color: #eaeaea;
            z-index: 2;
        }
        
        .logo svg {
            width: 44%;
            height: auto;
            fill: #101010;
        }

        .logo {
            padding-top: 22px;
            padding-bottom: 12px;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 1px 6px 0px;    
            background-color: #ffffff;
            position: relative;
        }

        .localisation {
            padding-top: 20px;
            padding-bottom: 20px;
            font-weight: 600;
            color: #353535;
            font-size: 16px;
            cursor: pointer;
        }

        .localisation span {
            margin-left: 18px;
        }

        .reservation {
            background-color: #f6f6f6;
            padding-top: 48px;
            padding-bottom: 56px;
        }

        .reservation h2 {
            margin-left: auto;
            margin-right: auto;
            font-weight: 900;
            font-size: 26px;
            width: 60%;
            margin-bottom: 24px;
        }

        .reservation span {
            margin-left: auto;
            margin-right: auto;
            display: block;
            font-size: 20px;
            font-weight: 300;
            color: #353535;
            width: 80%;
            margin-bottom: 34px;
        }

        .reservation button {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 218px;
            border-radius: 40px;
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            font-weight: 400;
            padding-top: 14px;
            padding-bottom: 14px;
            border: 0px;
            color: #ffffff;
            background: rgb(255,121,218);
            background: linear-gradient(170deg, rgba(255,121,218,1) 5%, rgba(147,86,220,1) 100%);  
            cursor: pointer;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }

        .reservation button:hover {
            opacity: 0.8;
            box-shadow: rgba(0, 0, 0, 0.48) 0px 3px 8px;
        }


        /* Fonctionnement */

        .fonctionnement h2 {
            font-weight: 700;
            font-size: 26px;
            margin-bottom: 32px;
        }

        .fonctionnement {
            padding-left: 6%;
            padding-right: 6%;
            margin-top: 56px;
        }

        .fonctionnement-cards {
            display: flex;
            flex-direction: column;
        }

        .fonctionnement-element {
            width: 100%;
            background-color: #f6f6f6;
            font-size: 16px;
            padding-bottom: 26px;
            padding-top: 26px;
            margin-bottom: 24px;
            border-radius: 20px;
            box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
        }

        .fonctionnement-element .text {
            font-weight: 600;
        }

        .fonctionnement-element i {
            width: 20px;
            text-align: center;
            display: inline-block;
            margin-right: 28px;
            color: #7e7e7e;
            font-size: 18px;
        }

        .fonctionnement-element i:hover {
            color: #9356dc;
        }

        .fonctionnement-element:hover i {
            color: #9356dc;
        }

            .fonctionnement-element:hover {
                background-color: #f5edff;
                box-shadow: rgba(0, 0, 0, 0.25) 0px 5px 15px;
            }
    

        .listing-number {
            border-radius: 50%;
            background-color: #9356dc;
            padding-left: 11px;
            padding-right: 11px;
            padding-top: 6px;
            padding-bottom: 6px;
            color: #ffffff;
            font-weight: 400;
            margin-left: -14px;
            margin-right: 22px;
        }

        /* Restaurants */

        .restaurants {
            margin-top: 44px;
            background-color: #f6f6f6;
            padding-left: 6%;
            padding-right: 6%;
            padding-top: 62px;
            padding-bottom: 44px;
        }

        .restaurants h2 {
            font-weight: 700;
            font-size: 26px;
            margin-bottom: 28px;
        }
          
        .fas.fa-heart {
            background: linear-gradient(170deg, rgba(255,121,218,1) 5%, rgba(147,86,220,1) 100%);  
            opacity: 0;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
          }
          
        .heart-click {
            position: absolute;
            right: 10%;
            top: auto;
            margin-top: 6px;
            transition: 1s ease-in-out;
            font-size: 20px;
        }
          
        .heart-click:hover {
            cursor: pointer;
        }

        .heart:hover .fas.fa-heart {
            opacity: 1;
        }

        .heart:hover .far.fa-heart {
            opacity: 0;
        }

        .nouveau {
            position: absolute;
            display: inline-block;
            padding-left: 16px;
            padding-right: 16px;
            padding-top: 8px;
            padding-bottom: 8px;
            border-radius: 2px;
            background-color: #99e2d0;
            color: #008766;
            font-weight: 500;
            margin-top: 12px;
            right: 6%;
            box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
        }

        /* Restaurants Cards */

        .cards {
            display: flex;
            flex-direction: column;
        }

        .card {
            width: 100%;
            background-color: #ffffff;
            margin-bottom: 18px;
            padding-bottom: 20px;
            box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
            border-radius: 18px;
            position: relative;
        }

        .card:hover {
            opacity: 0.8;
            box-shadow: rgba(99, 99, 99, 0.8) 0px 2px 8px 0px;
        }

        .card h3 {
            padding-top: 22px;
            padding-bottom: 12px;
        }

        .card-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .card img {
            width: 100%;
            height: 174px;
            object-fit: cover;
            border-radius: 18px 18px 0px 0px;
        }

        .card-infos {
            padding-left: 4%;
            font-size: 16px;
        }

        /* Footer */

        footer {
            padding-top: 40px;
            padding-left: 6%;
            padding-right: 6%;
            background-color: #353535;
            padding-bottom: 38px;
        }

        .footer-logo svg {
            width: 28%;
            height: auto;
            fill: #ffffff;
            margin-bottom: 30px;
        }

        .footer-links {
            display: flex;
            flex-direction: column;
            font-size: 16px;
        }

        .footer-links a {
            display: block;
            margin-bottom: 12px;
            color: #ffffff;
        }

        .footer-links a:hover {
            color: #9356dc;
            }

        .footer-links i {
            display: inline-block;
            width: 20px;
            text-align: center;
            margin-right: 12px;
        }



        /* PAGES RESTAUS */

        .logo {
            display: flex;
            justify-content: center;
            align-items: center;
            align-content: center;
        }

        .logo a {
            position: absolute;
            left: 6%;
        }

        .logo a i {
            font-size: 18px;
        }

        .slider {
        position: relative;
        }

        .slider img {
            width: 100%;
            height: 258px;
            object-fit: cover;
         }
         
         .display-none {
             display: none;
         }

         .menu-restau {
             background-color: #f6f6f6;
             margin-top: 0px;
             padding-top: 42px;
             padding-bottom: 58px;
         }

         .title {
             padding-left: 6%;
             font-family: Shrikhand;
             font-size: 30px;
width: 72%;
word-break: break-word;
         }

.menu-article {
margin-top: 30px;
}

         .restau-header {
             display: flex;
            align-items: center;
            align-content: center;
             width: 100%;
            border-radius: 40px 40px 0px 0px;
            background-color: #f6f6f6;
            position: absolute;
            z-index: 200;
            padding-top: 42px;
            margin-top: -80px;
         }

         .restau-header .heart {
            margin-top: 0px;
            display: flex;
            align-items: center;
            align-content: center;
         }

         .restau-header .heart i {
            font-size: 24px;
         }

         .menu-restau article {
             padding-left: 6%;
             padding-right: 6%;
         }

         .menu-restau h3 {
             font-weight: 300;
             text-transform: uppercase;
             border-bottom: 3px solid #99e2d0;
             padding-bottom: 4px;
             display: block;
             width: 40px;
             margin-bottom: 16px;
         }

         .liste-menu {
             display: flex;
             margin-bottom: 26px;
             flex-direction: column;
         }


          button.commander {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 218px;
            border-radius: 40px;
            font-family: 'Roboto', sans-serif;
            font-size: 16px;
            font-weight: 400;
            padding-top: 14px;
            padding-bottom: 14px;
            border: 0px;
            color: #ffffff;
            background: rgb(255,121,218);
            background: linear-gradient(170deg, rgba(255,121,218,1) 5%, rgba(147,86,220,1) 100%);  
            cursor: pointer;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
        }

        .commander:hover {
            opacity: 0.8;
            box-shadow: rgba(0, 0, 0, 0.48) 0px 3px 8px;
        }

        }

